In [1]:
# Agenda

JSON, requests and HTTP STATUS_CODES, HOW TO USE API.
Revising Python using JSON

In [2]:
#light weight data interchange format
# what it is ?

In [4]:
# json: javascript object notation

In [6]:
{"key":"value"}

{'key': 'value'}

In [ ]:
Values can be:
    string
    number
    another json object
    array(list)
    bool
    null,(None)

In [7]:
# generally nested structure of list and dictinaries.

In [8]:
import json

In [16]:
fp = open("example_2.json","r")

In [10]:
fp

In [11]:
# fp.read(10)

'{\n    "qui'

In [17]:
content = fp.read()

In [19]:
content

'{"quiz": {\n        "sport": {\n            "q1": {\n                "question": "Which one is correct team name in NBA?",\n                "options": [\n                    "New York Bulls",\n                    "Los Angeles Kings",\n                    "Golden State Warriros",\n                    "Huston Rocket"\n                ],\n                "answer": "Huston Rocket"\n            }\n        },\n        "maths": {\n            "q1": {\n                "question": "5 + 7 = ?",\n                "options": [\n                    "10",\n                    "11",\n                    "12",\n                    "13"\n                ],\n                "answer": "12"\n            },\n            "q2": {\n                "question": "12 - 8 = ?",\n                "options": [\n                    "1",\n                    "2",\n                    "3",\n                    "4"\n                ],\n                "answer": "4"\n            }\n        }\n    }\n}'

In [18]:
type(content)

str

In [20]:
content_in_json = json.loads(content)

In [21]:
content_in_json

{'quiz': {'sport': {'q1': {'question': 'Which one is correct team name in NBA?',
    'options': ['New York Bulls',
     'Los Angeles Kings',
     'Golden State Warriros',
     'Huston Rocket'],
    'answer': 'Huston Rocket'}},
  'maths': {'q1': {'question': '5 + 7 = ?',
    'options': ['10', '11', '12', '13'],
    'answer': '12'},
   'q2': {'question': '12 - 8 = ?',
    'options': ['1', '2', '3', '4'],
    'answer': '4'}}}}

In [22]:
type(content_in_json)

dict

In [ ]:
# Exercsie 1:
first_task: Write the Quiz Questions with number like 1,2,3, and the options with labels like a,b,c,d.

second_task: and than in the end print the answers for the questions corresponding to numbers.

1. Which one is correct team name in NBA?
a)New York Bulls
b)Los Angeles Kings
c)Golden State Warriros
d)Huston Rocket

2.5 + 7 = ?
a)'10'
b)'11'
c)'12'
d)'13

etc...

# 10 minutes
8:13

In [23]:
content_in_json.keys()

dict_keys(['quiz'])

In [24]:
content_in_json["quiz"]

{'sport': {'q1': {'question': 'Which one is correct team name in NBA?',
   'options': ['New York Bulls',
    'Los Angeles Kings',
    'Golden State Warriros',
    'Huston Rocket'],
   'answer': 'Huston Rocket'}},
 'maths': {'q1': {'question': '5 + 7 = ?',
   'options': ['10', '11', '12', '13'],
   'answer': '12'},
  'q2': {'question': '12 - 8 = ?',
   'options': ['1', '2', '3', '4'],
   'answer': '4'}}}

In [25]:
content_in_json["quiz"].keys()

dict_keys(['sport', 'maths'])

In [26]:
content_in_json["quiz"]["sport"].keys()

dict_keys(['q1'])

In [27]:
content_in_json["quiz"]["sport"]["q1"]

{'question': 'Which one is correct team name in NBA?',
 'options': ['New York Bulls',
  'Los Angeles Kings',
  'Golden State Warriros',
  'Huston Rocket'],
 'answer': 'Huston Rocket'}

In [28]:
content_in_json["quiz"]["sport"]["q1"].keys()

dict_keys(['question', 'options', 'answer'])

In [33]:
print("1.",content_in_json["quiz"]["sport"]["q1"]["question"])

1. Which one is correct team name in NBA?

In [30]:
content_in_json["quiz"]["sport"]["q1"]["options"]

['New York Bulls',
 'Los Angeles Kings',
 'Golden State Warriros',
 'Huston Rocket']

In [38]:
for i,j in enumerate(content_in_json["quiz"]["sport"]["q1"]["options"]):
    print(str(chr(i+ord("a")))+")",j)

a) New York Bulls
b) Los Angeles Kings
c) Golden State Warriros
d) Huston Rocket

In [39]:
content_in_json["quiz"]["maths"]

{'q1': {'question': '5 + 7 = ?',
  'options': ['10', '11', '12', '13'],
  'answer': '12'},
 'q2': {'question': '12 - 8 = ?',
  'options': ['1', '2', '3', '4'],
  'answer': '4'}}

In [40]:
content_in_json["quiz"]["maths"].keys()

dict_keys(['q1', 'q2'])

In [46]:
for q in content_in_json["quiz"]["maths"]:
    print(content_in_json["quiz"]["maths"][q]["question"])
    for counter,option in enumerate(content_in_json["quiz"]["maths"][q]["options"]):
        print(str(chr(counter+ord("a")))+")",option)

5 + 7 = ?
a) 10
b) 11
c) 12
d) 13
12 - 8 = ?
a) 1
b) 2
c) 3
d) 4

In [53]:
# complete
answers = {}
question_counter = 1
print(question_counter,".",content_in_json["quiz"]["sport"]["q1"]["question"])
answers[question_counter] = content_in_json["quiz"]["sport"]["q1"]["answer"]
for i,j in enumerate(content_in_json["quiz"]["sport"]["q1"]["options"]):
    print(str(chr(i+ord("a")))+")",j)
print("\n")
question_counter+=1
for q in content_in_json["quiz"]["maths"]:
    print(question_counter,".",content_in_json["quiz"]["maths"][q]["question"])
    answers[question_counter] = content_in_json["quiz"]["maths"][q]["answer"]
    for counter,option in enumerate(content_in_json["quiz"]["maths"][q]["options"]):
        print(str(chr(counter+ord("a")))+")",option)
    print("\n")
    question_counter+=1
    
print(answers)

#homework to convert it into better.

1 . Which one is correct team name in NBA?
a) New York Bulls
b) Los Angeles Kings
c) Golden State Warriros
d) Huston Rocket


2 . 5 + 7 = ?
a) 10
b) 11
c) 12
d) 13


3 . 12 - 8 = ?
a) 1
b) 2
c) 3
d) 4


{1: 'Huston Rocket', 2: '12', 3: '4'}

In [54]:
content_in_json

{'quiz': {'sport': {'q1': {'question': 'Which one is correct team name in NBA?',
    'options': ['New York Bulls',
     'Los Angeles Kings',
     'Golden State Warriros',
     'Huston Rocket'],
    'answer': 'Huston Rocket'}},
  'maths': {'q1': {'question': '5 + 7 = ?',
    'options': ['10', '11', '12', '13'],
    'answer': '12'},
   'q2': {'question': '12 - 8 = ?',
    'options': ['1', '2', '3', '4'],
    'answer': '4'}}}}

In [56]:
content_in_json["quiz"]["sport"]["q1"]["answer"] = "Los Angeles Kings"

In [57]:
content_in_json

{'quiz': {'sport': {'q1': {'question': 'Which one is correct team name in NBA?',
    'options': ['New York Bulls',
     'Los Angeles Kings',
     'Golden State Warriros',
     'Huston Rocket'],
    'answer': 'Los Angeles Kings'}},
  'maths': {'q1': {'question': '5 + 7 = ?',
    'options': ['10', '11', '12', '13'],
    'answer': '12'},
   'q2': {'question': '12 - 8 = ?',
    'options': ['1', '2', '3', '4'],
    'answer': '4'}}}}

In [59]:
fp = open("changed_example_2.json","w+")

dump_data = json.dumps(content_in_json)

In [60]:
fp.write(dump_data)

387

In [61]:
fp.close()

In [ ]:
diff b/w loads and dumps is:
    loads convert into python readable format(text/str to dict)
    
    dumps do the reverse thing.convert a python dict into text which can be dumped into a json file.

In [62]:
test_dict = {"python":3,"django":3,"numpy":1}

In [63]:
fp2 = open("test_file.json","w+")

dump_test = json.dumps(test_dict)

In [65]:
fp2.write(dump_test)

38

In [66]:
fp2.close()

In [67]:
test_dict2 = {1:"one",2:"two",3:"three",4:"four"}

In [75]:
for i in test_dict2.keys():
    print(type(i),i)

<class 'int'> 1
<class 'int'> 2
<class 'int'> 3
<class 'int'> 4

In [68]:
dump_test2 = json.dumps(test_dict2)

In [69]:
dump_test2

'{"1": "one", "2": "two", "3": "three", "4": "four"}'

In [70]:
load_test2 = json.loads(dump_test2)

In [71]:
load_test2

{'1': 'one', '2': 'two', '3': 'three', '4': 'four'}

In [76]:
for i in load_test2:
    print(type(i),i)

<class 'str'> 1
<class 'str'> 2
<class 'str'> 3
<class 'str'> 4

In [81]:
test_dict_3 = {"one":1,"two":None,"three":3}

In [82]:
dump_dict_3 = json.dumps(test_dict_3)

In [83]:
dump_dict_3

'{"one": 1, "two": null, "three": 3}'

In [84]:
load_test_dict_3 = json.loads(dump_dict_3)

In [85]:
load_test_dict_3

{'one': 1, 'two': None, 'three': 3}

In [ ]:
json is commonly used to exchange data over the internet.

In [95]:
space_astro = {"number": 3, "people": [{"craft": "ISS", "name": "Chris Cassidy"}, {"craft": "ISS", "name": "Anatoly Ivanishin"}, {"craft": "ISS", "name": "Ivan Vagner"}], "message": "success"}

In [87]:
type(space_astro)

dict

In [88]:
# Exercise:
# Become an astronaut, and put your data inside space_astro data and save the json file.

In [89]:
space_astro.keys()

dict_keys(['number', 'people', 'message'])

In [96]:
space_astro["number"]+=1

In [97]:
space_astro["people"].append({"craft":"fivecube","name":"Mohit Singh Chouhan"})

In [98]:
space_astro

{'number': 4,
 'people': [{'craft': 'ISS', 'name': 'Chris Cassidy'},
  {'craft': 'ISS', 'name': 'Anatoly Ivanishin'},
  {'craft': 'ISS', 'name': 'Ivan Vagner'},
  {'craft': 'fivecube', 'name': 'Mohit Singh Chouhan'}],
 'message': 'success'}

In [99]:
fp4 = open("space_astro.json","w+")

dump_obj_space_astro = json.dumps(space_astro)

In [100]:
fp4.write(dump_obj_space_astro)

232

In [101]:
fp4.close()